// ==================
// Layout Extends
// ==================


// Center Text 

%centered {
	text-align:center;
}

// Box Shadow for Social Buttons

%boxshadow {
	-webkit-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.4);
  	-moz-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.4);
  	box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.4);
}